config.stopBubbling = true
lombok.sneakyThrows.flagUsage = ERROR
lombok.value.flagUsage = ERROR
lombok.data.flagUsage = ERROR
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
# These could be useful, more investigation required:
#lombok.anyConstructor.addConstructorProperties = true
lombok.addNullAnnotations = checkerframework
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy